#header {
    background-color: #0B253A;
    height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#header-title {
    text-align: center;
    color: white;
}

#currentWeather {
    height: 300px;
    margin-bottom: 15px;
    background-color: white;
}


#historyBtn {
    width: 100%;
    border: lightgray solid 1px ;
    margin-top: 5px;
    background-color:#ff6500;
}

.card-body {
    min-height: 150px;
    background-color: #539DB3;
    margin: 2px;
}


.mainBody {
    width: 100%;
}


#cityTitle {
    font-size: larger;
    text-decoration: underline;
}

#currentWeather {
    text-align: center;
    line-height: 40px;
}

.forecastArea {
    width: 100%;
}

@media only screen and (max-width: 770px) {
    .searchArea {
        float: none;
        width: 100%;
        text-align: center;
    }
    #city-input {
        background-color: lightgray;
    }

    #fiveDayForecast {
        width: 50%;
        float: none;
    }

    @media only screen and (max-width: 500px) {
        .searchArea {
            float: none;
            width: 100%;
            text-align: center;
        }
        #city-input {
            background-color: lightgray;
        }
    
        #fiveCards {
            width: 100%;
            float: none;


        }}}