#header {
    background-color: darkgrey;
    height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#header-title {
    text-align: center;
    color: white;
}

#currentWeather {
    height: 300px;
    margin-bottom: 15px;
}

.card-body {
    min-height: 150px;
}