#header {
    background-color: slategrey;
    height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#header-title {
    text-align: center;
    color: white;
}

#currentWeather {
    height: 300px;
    margin-bottom: 15px;
}

#historyBtn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body {
    min-height: 150px;
    background-color: thistle;
    margin: 2px;
}


.fiveDay {
    background-color: thistle;
}

.mainBody {
    width: 90%;
}

#savedBtn {
    background-color: pink;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}